.user-image {
  max-width: 60px;
  max-height: 60px;
}

.thumbnail {
  text-align: center;
  padding: 2rem 1rem;
}

.toolbar {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .btn {
    margin-right: 1rem;
  }
}

.user-list {
  border: 1px solid #ddd;
  tbody tr {
    cursor: pointer;
    transition: background-color 100ms;

    &:hover {
      background-color: #eee;
    }
  }
}

.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  display: inline-block;
  max-width: 50px;
  margin: 0;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}
